<!DOCTYPE html>

<html>

    <head>
        <title>warp | file {{ file_properties.filename }}</title>
        
        {% include 'css_deps.html' %}
    
    </head>

    <body>
        {% include 'header.html' %}

        <div id="uploadedfile-info-area">
            <span class="uploadedfile-info-title">filename</span>: {{ file_properties.filename }}<br>
            <span class="uploadedfile-info-title">filepath</span>: {{ file_properties.filepath }}<br>
            <span class="uploadedfile-info-title">password</span>: {{ file_properties.password }}<br>
        </div>

        {% include 'footer.html' %}

        {% include 'js_deps.html' %}
    </body>

</html>