<!DOCTYPE html>

<html>

    <head>
        <title>warp | upload</title>
        
        {% include 'css_deps.html' %}

    </head>

    <body>
        {% include 'header.html' %}

        <h4 id="subtitle" class="text-center text-medium">a simple, yet powerful temporary<br>file sharing service with integrated full-file encryption.</h4>

        <div id="dropzone-wrapper">
            <form
                action="/uploadfile"
                class="dropzone"
                id="dropzone">
            </form>
        </div>

        {% include 'footer.html' %}

        {% include 'js_deps.html' %}

        <script>

            Dropzone.options.dropzone = {
                dictDefaultMessage: "drop files here to upload",
                paramName: 'file',
                maxFiles: 1,
                maxFilesize: 5,
                addRemoveLinks: true,
                success: function (file, response) {
                    response = JSON.parse(response);
                    setTimeout(function () {
                        document.location.href = '/getfile/' + response.filepath;
                    }, 500);
                }
            }    

        </script>
    </body>

</html>